html , body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F3F4F6;

}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background: url(resources/background-image.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.title{
    margin: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.layer{
    width: 70px;
    height: 25px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #1D1D1F;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;

}
.wraper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pro-box{
    width: 640px;
    height: 700px;
    background-color: #E5E7EB;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 230px;
    margin-left: 20px;

}
.info-box{
    width: 640px;
    height: 700px;
    background-color: #FFFFFF;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 230px;
    margin-right: 20px;
}
@media(max-width: 640px)
{
.container{
    width: 130%;
}
.wraper{
    flex-direction: column;
}
.pro-box{
    margin-bottom: 0;
    width: 100%;
}
}
.content{
    width: 100%;
    height: 130px;
    /* background-color: #adadff;
    border: 2px solid black; */
    margin-top: 5px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;

}
.content2{
    width: 100%;
    height: 240px;
    background-color: #adadff;
    border: 2px solid black;
    margin-top: 20px;
}
.wrap-div{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #c7c8c9;

}
.text-info{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
    margin-bottom: 80px;
}
.text-info2{
    color: #394150;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-top: -10px; */
}
.text-info3{
    color: #394150;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 10px;
}
.wraper2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 35px auto 30px;
    column-gap: 240px;
    font-size: larger;
    margin-left: 25px;

}